.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(179deg, #f7825f, #2539a0); /* Gradasi oranye-ungu */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    width: 350px; /* Lebih besar */
    height: auto;
    margin-bottom: 5px; /* Supaya dekat dengan tulisan */
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px; /* Dekat dengan paragraf */
  }
  
  p {
    font-size: 1.3rem;
    margin-top: 0;
  }
  